# Database Connection (Neon / PostgreSQL)
DATABASE_URL=

# Google Gemini API Key for Virtual AI Agent
GEMINI_API_KEY=

# BlueFocus Integration
BLUEFOCUS_AUTH_KEY=AGUARDANDO_CHAVE
BLUEFOCUS_EMPRESA_ID=PAOMANIA
BLUEFOCUS_USUARIO_ID=CONSULTA
BLUEFOCUS_PDV_CODIGO=1000
BLUEFOCUS_ORDER_URL=http://paomania.ddns.net:8082/valim/servlet/aintegracaofcxregistravenda
BLUEFOCUS_SYNC_URL=https://www.app.bluefocus.com.br/BlueFocusCloud/servlet/aintegracaofcxexportacadsat
